name: myapp
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  webview_flutter: ^4.8.0
  webview_flutter_android: ^4.10.13
  permission_handler: ^12.0.1
  connectivity_plus: ^7.0.0
  shared_preferences: ^2.2.3
  file_picker: ^10.3.10

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
